<html>
<head>
    <title>Math quiz ladder</title>
    <style>
.ladder-table{
    display: table;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

.ladder-header-group{
    display: table-header-group;
}
.ladder-header-row{
    display: table-row;
    border: 2px solid red;
}

.ladder-row{
    display: table-row;
}

.ladder-cell{
    display: table-cell;
    padding: 5px;
}


    </style>
</head>
<body>

<h2>Ladder</h2>

<div class="ladder-table">
    <div class="ladder-header-group">
        <div class="ladder-header-row">
            <div class="ladder-cell">rank</div>
            <div class="ladder-cell">user</div>
            <div class="ladder-cell">right answers</div>
            <div class="ladder-cell">wrong answers</div>
        </div>
    </div>



    {% for row in ladder %}

    {% for rank, info in row.items() %}

    <div class="ladder-row">

<!--Jinja 2  -->
        <div class="ladder-cell">
            {{ rank }}
        </div>
        <div class="ladder-cell">
            {{ info[0] }}
        </div>

        <div class="ladder-cell">
            {{ info[1] }}
        </div>

        <div class="ladder-cell">
            {{ info[2] }}

        </div>

    </div>
    {% endfor %}
    {% endfor %}
</div>

</body>
</html>